.real-shop {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__city {
        padding: 13px 0 8px 0;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }
    &__adress {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 18px;
        margin-left: auto;
        white-space: nowrap;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: auto;
        padding-top: 5px;
    }
    &__street {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__number {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 18px;
    }
    &__icon {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        &--marker {
            fill: #15a0b6;
        }
    }
    &--white {
        $tpl: ".real-shop";
        #{$tpl} {
            &__icon {
                fill: #ffffff;
            }
            &__city,
            &__adress {
                color: #ffffff;
            }
            &__number {
                .number {
                    &__link {
                        color: #ffffff;
                    }
                    &__icon {
                        fill: #ffffff;
                    }
                }
            }
        }
    }
}

@media #{$screen-min-576} {
    .real-shop {
        &--footer {
            $tpl: ".real-shop";
            #{$tpl} {
                &__place:first-child {
                    margin-right: 100px;
                }
            }
        }
    }
}

@media #{$screen-min-992} {
    .real-shop {
        &--footer {
            $tpl: ".real-shop";
            #{$tpl} {
                &__place:first-child {
                    margin-right: 50px;
                }
                &__street {
                    align-items: flex-start;
                }
                &__adress {
                    margin-left: 0;
                }
                &__form {
                    align-items: flex-start;
                    margin: 0 auto 0 30px;
                }
            }
        }
    }
}

@media #{$screen-min-1200} {
    .real-shop {
        &--footer {
            $tpl: ".real-shop";
            #{$tpl} {
                &__place:first-child {
                    margin-right: 100px;
                }
            }
        }
    }
}

@media #{$screen-min-1560} {
    .real-shop {
        &--footer {
            $tpl: ".real-shop";
            #{$tpl} {
                &__place:first-child {
                    margin-right: 200px;
                }
            }
        }
    }
}
