.main {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    &__item {
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    &__item:first-child,
    &__item:last-child {
        width: 100%;
        $tpl: ".main";
        #{$tpl} {
            &__link {
                max-width: 300px;
                width: 200px;
                margin: 0 auto;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        width: 130px;
        max-width: 135px;
        padding: 10px;
        border-radius: 10px;
        background-color: #fff;
        overflow: hidden;
    }
    &__text {
        width: 100%;
        margin-left: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        transition: color 0.4s ease-in-out;
    }
    &__association {
        position: relative;
        width: 33px;
        height: 33px;
        min-width: 33px;
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.3s ease-in-out;
        &--back-food-print {
            fill: #e6d3cd;
            transform: rotate(-8deg);
        }
        &--back-decor {
            fill: #ffdabf;
            transform: rotate(214deg);
        }
        &--back-ingredient {
            fill: #ffe8c9;
            transform: rotate(0deg);
        }
        &--back-tool {
            fill: #ddcdb6;
            transform: rotate(236deg);
        }
        &--back-dyes {
            fill: #ffeac1;
            transform: rotate(10deg);
        }
        &--back-package {
            fill: #ffece5;
            transform: rotate(216deg);
        }
        &--back-equipment {
            fill: #fff0db;
            transform: rotate(241deg);
        }
        &--back-else-category {
            fill: #e7ded5;
            transform: rotate(218deg);
        }
    }
    &__form {
        display: none;
        @include popup;
        overflow: auto;
    }
    &__submenu {
        max-width: 220px;
        padding: 25px 10px 10px 10px;
        margin: 130px auto 0 auto;
        background-color: #fff;
        border-radius: 10px;
    }
    .navbar-submenu {
        position: relative;
        &__association {
            position: relative;
            width: 50px;
            height: 50px;
        }
        &__title {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-weight: 400;
        }
        &__list {
            margin-left: 30px;
        }
        &__item {
            padding: 10px 0;
        }
        &__link {
            font-size: 14px;
        }
        &__background {
            display: none;
        }
    }
}
@media #{$screen-min-460} {
    .main {
        &__list {
            width: 400px;
        }
        &__link {
            width: 150px;
            max-width: 150px;
        }
        &__text {
            font-size: 16px;
        }
    }
}
@media #{$screen-min-992} {
    .main {
        &__list {
            flex-wrap: nowrap;
            width: auto;
        }
        &__item,
        &__item:first-child,
        &__item:last-child {
            position: relative;
            flex: 0 0 11%;
            width: 100%;
            $tpl: ".main";
            #{$tpl} {
                &__link {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    padding: 10px 0;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 0.5px;
                height: 70%;
                background-color: #f4f4f4;
                transform: translate(-50%, -50%);
            }
        }
        &__item:last-child {
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 0.5px;
                height: 70%;
                background-color: #f4f4f4;
                transform: translate(-50%, -50%);
            }
        }
        &__link {
            &:hover {
                color: $main;
                $tpl: ".main";
                #{$tpl} {
                    &__icon:last-child {
                        transform: translateY(-5px);
                    }
                }
            }
            &.active {
                color: $main;
                $tpl: ".main";
                #{$tpl} {
                    &__icon:first-child {
                        opacity: 0.4;
                    }
                    &__icon:last-child {
                        transform: translateY(5px);
                    }
                }
            }
        }
        &__association {
            position: relative;
            width: 42px;
            height: 42px;
            $tpl: ".main";
            #{$tpl} {
                &__icon:first-child {
                    width: 55px;
                    height: 55px;
                }
            }
        }
        &__text {
            margin: 10px auto 0 auto;
            font-size: 14px;
            text-align: center;
        }
    }
    .navbar-submenu {
        &__title {
            display: none !important;
        }
        &:after {
            content: "";
            position: absolute;
            top: -50px;
            left: 20px;
            width: 50px;
            height: 50px;
            border: 30px solid transparent;
            border-bottom: 40px solid #fff;
        }
        &__link {
            position: relative;
            z-index: 1;
        }
        &__background {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            text-align: right;
            opacity: 0.1;
            z-index: 0;
        }
        &__icon {
            width: 100px;
        }
    }
}
@media #{$screen-min-1200} {
    .main {
        &__item {
            flex: 0 0 11.5%;
        }
        &__association {
            width: 50px;
            height: 50px;
            $tpl: ".main";
            #{$tpl} {
                &__icon:first-child {
                    width: 59px;
                    height: 59px;
                }
            }
        }
        &__text {
            font-size: 16px;
        }
    }
}
@media #{$screen-min-1560} {
    .main {
        &__item {
            flex: 0 0 12%;
        }
        &__text {
            font-size: 17px;
        }
    }
}
